@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a202c;
  --secondary-color: #2d3748;
  --accent-color: #4a5568;
  --text-color: #edf2f7;
}

body, html {
  height: 100%;
  margin: 0;
  color: var(--text-color);
  background-color: var(--primary-color);
}

.main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid var(--accent-color);
}

th, td {
  padding: 8px;
  text-align: left;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
